body {
  margin: 0;
  font-family: purista-web, sans-serif;
  font-style: normal;
  font-weight: 300;
  background: url("../images/background.jpg");
  color: white;
}

#root {
  max-width: 1000px;
  margin: auto;
}
